@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Slackside+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --main-color: #9C2482;
    --btn-color: white;
    --text-color: #524848;
    --color: black;
}

.container {
    width: 1230px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.header-wrap {
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 90px;
    background-color: var(--main-color);
}

.logo {
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.menu {
    margin-top: 20px;
    gap: 64px;
}

.button {
    border: 1px solid var(--btn-color);
    margin-top: 20px;
    align-items: center;
    gap: 10px;
    padding: 11px 32px;
}

.logo>h3 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 51px;
    color: var(--btn-color);
}

.menu>li>a {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 26px;
    font-size: 16px;
    color: var(--btn-color);
}

.button>a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: var(--btn-color);
}

/* ========================header============================ */
.section_1 {
    background-image: url(./images/Rectangle\ 4.png);
    width: full;
    height: 673.35px;

}

.sec_1 {
    padding-left: 90px;
    padding-top: 260px;
}

.title_sec1>h1 {
    width: 609px;
    height: 85.71px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 54px;
    line-height: 86.4px;
    color: var(--main-color);
}

.title_sec1>p {
    width: 459px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 25.5px;
    color: var(--text-color);
}

.btn_sec1 {
    width: 268.47px;
    height: 53.23px;
    margin-top: 20px;
    background-color: var(--main-color);
}

.btn_sec1>a {
    padding: 78px;
    line-height: 48.8px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--btn-color);
}

.links1 {
    margin-top: 150px;
}

.links1>ul {
    display: flex;
    gap: 30px;
}

.links1>ul>li>a {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 25.6px;
    color: var(--text-color);
}

/* ===================section1===================== */
.section_2 {
    margin-top: 100px;
}

.container>h2 {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    color: var(--main-color);
}

.sec_2 {
    margin-top: 30px;
}

.sec_2_text {
    margin-left: 50px;
}

.sec_2_text>h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.4px;
    width: 478px;
}

.sec_2_text>p {
    margin-top: 10px;
    width: 447px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: var(--text-color)
}

.btn_sec2 {
    margin-top: 30px;
    width: 222px;
    height: 54px;
    background-color: var(--main-color);
}

.btn_sec2>a {
    padding: 58px;
    line-height: 48.8px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--btn-color);
}

/* ================section2================ */
.section_3 {
    margin-top: 70px;
}

.figure_sec3 {
    gap: 50px;
}

.figure_sec3>div>figure>img {
    margin-left: 110px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.figure_sec3>div>figure>h4 {
    text-align: center;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 38.8px;
    margin-bottom: 20px;
}

.figure_sec3>div>figure>p {
    width: 290px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: var(--text-color);
}

/* ===================section3=================== */
.section_4 {
    margin-top: 70px;
}

.sec_4_wrap {
    margin-top: 30px;
}

.sec_4_wrap_text {
    margin-left: 30px;
}

.sec_4_wrap_text>h4 {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 38.8px;
    margin-bottom: 30px;
}

.sec_4_wrap_text>p {
    width: 603px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: var(--text-color);
    margin-bottom: 30px;
}

.btn_sec4 {
    width: 330px;
    height: 67px;
    background-color: var(--main-color);
}

.btn_sec4>a {
    padding: 58px;
    line-height: 58.8px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--btn-color);
}

.sec_4_wrap_text>img {
    margin-top: 30px;
    margin-left: 460px;
    margin-bottom: 50px;
}

/* ===============sec_4=================== */
.sec_5>ul {
    display: flex;
    margin-top: 25px;
    gap: 60px;
    margin-left: 60px;
}

.sec_5>ul>li:hover {
    background-color: rgb(137, 131, 131);
    border-radius: 50px;
}

.sec_5>ul>li>a {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: var(--text-color) !important;
    margin-bottom: 15px;
}

.sec_5_figure {
    flex-wrap: nowrap;
    margin-top: 30px;
    flex-basis: calc((100% - 30px) / 3);
    gap: 30px;
}

.sec_5_figure>figure>img {
    margin-left: 40px;
}

.sec_5_figure>figure>h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-color);
    text-align: center;
}

.sec_5_figure>figure>p {
    width: 400px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 70px;
}

/* =========================sec_5======================== */
.sec_6_figure {
    gap: 20px;
}

.line {
    margin-top: 25px;
    border: 1px solid var(--main-color);
    border-width: full;
    margin-bottom: 25px;
}

.sec_6_figure>figure>h3 {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 38.8px;
    margin-bottom: 30px;
}

.sec_6_figure>figure>p {
    width: 603px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: var(--text-color);
    margin-bottom: 30px;
}

.btn_sec_6 {
    margin-top: 60px;
    width: 222px;
    height: 54px;
    background-color: var(--main-color);
    margin-left: 40%;
    margin-bottom: 70px;
}

.btn_sec_6>a {
    font-family: "Montserrat", sans-serif;
    padding: 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    color: var(--btn-color);
}

/* ========================sec_6========================= */
.sec_7 {
    gap: 20px;
}

.sec_7_Review {
    padding-left: 35px;
    margin-top: 45px;
    border: 1px solid var(--main-color);
    margin-bottom: 100px;
}

.sec_7_Review>div {
    margin-top: 25px;
    display: flex;
    gap: 345px;
}

.sec_7_Review>div>h3 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--main-color);
}

.sec_7_Review>p {
    width: 549px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 30px;
    flex-shrink: 2;
}

/* ==============================================sec_7================================================= */
.sec_8>div>h2 {
    width: 627px;
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    font-family: "Playfair Display", serif;
    color: var(--main-color);
    margin-left: 40px;
}

.sec_8>div>div>input {
    margin-top: 30px;
    width: 603px;
    height: 42px;
    line-height: 60px;
    margin-left: 40px;
}

.date {
    width: 603px;
}
.sec_8_btn{ 
    align-self: flex-end;
    margin-top: 20px;
    width: 222px;
    height: 44px;
    background-color: var(--main-color);
    margin-left: 40%;
    margin-bottom: 70px;
}
.sec_8_btn>a{
    padding: 50px;
    line-height: 38.8px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--btn-color);
}
